name: CD

on:
    push:
        tags: "v*"

    # allow manually triggering this workflow
    workflow_dispatch: {}

concurrency:
    group: ${{ github.workflow }}-${{ github.ref }}
    cancel-in-progress: true

jobs:
    deploy:
        runs-on: ubuntu-latest

        steps:            
            - name: Log into Docker Hub
              uses: docker/login-action@v3
              with:
                username: ${{secrets.DOCKER_USERNAME}}
                password: ${{secrets.DOCKER_PASSWORD}}

            - name: Get Latest Tag
              id: latest-tag
              uses: "WyriHaximus/github-action-get-previous-tag@v1"
              with:
                fallback: latest

            - name: Build and push Docker image
              uses: docker/build-push-action@v5
              with:
                push: true
                tags: dhruvahuja/backend_burger:${{ steps.latest-tag.outputs.tag }}
                labels: ${{steps.latest-tag.outputs.tag}}
