name: CI

on:
    push:
        branches: main
    
    # allow manually triggering this workflow
    workflow_dispatch: {}

concurrency:
    group: ${{ github.workflow }}-${{ github.ref }}
    cancel-in-progress: true

env:
    DB_URL: ${{secrets.DB_URL}}
    JWT_SECRET_KEY: ${{secrets.JWT_SECRET_KEY}}
    AWS_ACCESS_KEY_ID: ${{secrets.AWS_ACCESS_KEY_ID}}
    AWS_SECRET_ACCESS_KEY: ${{secrets.AWS_SECRET_ACCESS_KEY}}
    AWS_REGION_NAME: ${{secrets.AWS_REGION_NAME}}
    SQS_QUEUE_NAME: ${{secrets.SQS_QUEUE_NAME}}
    S3_BUCKET_URL: ${{secrets.S3_BUCKET_URL}}
    S3_BUCKET_NAME: ${{secrets.S3_BUCKET_NAME}}
    S3_LOGS_FOLDER: ${{secrets.S3_LOGS_FOLDER}}
    REDIS_HOST: localhost

jobs:
    build:
        runs-on: ubuntu-latest
        
        services:
            # Label used to access the service container
            redis:
                image: redis
                # Set health checks to wait until redis has started
                options: >-
                    --health-cmd "redis-cli ping"
                    --health-interval 10s
                    --health-timeout 5s
                    --health-retries 5

                ports:
                    - 6379:6379

        steps:
            - name: Checkout
              uses: actions/checkout@v4

            - name: Setup Python
              uses: actions/setup-python@v4
              with:
                python-version: "3.11"
            
            - name: Install PyCurl dependencies
              run: 
                sudo apt-get update && sudo apt-get install -y curl libcurl4-openssl-dev build-essential libssl-dev

            - name: Install dependencies
              run:
                python -m pip install --upgrade pip
                pip install -r requirements.txt
            
            - name: Test code
              run: 
                pytest . -s -v -W ignore
            
            - name: Format and Lint Code with Ruff
              run:
                ruff format . --line-length=120 &&
                ruff check . --fix
            
            - name: Setup tmate session
              if: ${{ failure() }}
              uses: mxschmitt/action-tmate@v3